:host {
  display: flex;
  border: solid 1px #999;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  flex-direction: column;
  gap: 10px;
}

div.content {
  display: flex;
  justify-content: space-between;

  strong.discount {
    color: red;
  }
}

div.company,
div.button {
  display: flex;
  justify-content: space-between;
}

div.button button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button.add-to-cart {
  background-color: #007bff;
  color: white;
}
